@import "./../variables.scss";
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $third-color;
    margin-top: 20px;
    hr {
        width: 40%;
        background-color: $third-color;
    }
    span {
        width: 20%;
        color: $third-color;
    }
}
.registerButton {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: black;
    }
    button {
        width: 100%;
        background: #00c8a0;
        border-radius: 10px;
        border: none;
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 58px;
        color: #f7ebff;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .registerButton {
        flex-direction: column;
        button {
            margin-top: 10px;
        }
    }
}
