
.switchScene{
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: black;
}
