.walkedInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .walkedInnerText {
        padding: 40px;
        text-align: center;
        width: 100%;
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        isolation: isolate;
        &:before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 10px;
            height: 100%;
            display: block;
            background: repeating-linear-gradient(white, white 5px, transparent 5px, transparent 10px);
            transform: translateX(-50%);
        }
        li {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 30px;
            .walkedInner__img {
                width: 45%;
                aspect-ratio: 16/9;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .walkedInner__content {
                width: 45%;
                padding: 20px;
            }
            .walkedInner__km {
                width: 10%;
                text-align: center;
                background-color: black;
                padding: 10px;
            }
            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
        }
    }
}
.switchScene {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 768px) {
    .walkedInner {
        margin-bottom: 50px;
        ul {
            
            width: 80%;
            &:before {
                left: 0;
            }
            li {
                flex-direction: column;
                position: relative;
                .walkedInner__img {
                    width: 90%;
                }
                .walkedInner__content {
                    width: 90%;
                    padding: 0;
                    margin-top: 20px;
                }
                .walkedInner__km{
                    position: absolute;
                    top: 0;
                }
                &:nth-child(2n){
                    flex-direction: column;
                }
            }
        }
    }
}
