@import "../variables.scss";
.walkedInner {
    margin-top: 0;
    margin-bottom: 110px;
    padding: 0 30px;
    .heading {
        padding-top: 70px;
        padding-bottom: 45px;
        h1 {
            font-family: $font-stack;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            text-transform: uppercase;
            color: $third-color;
        }
        p {
            font-family: $font-stack;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $third-color;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        isolation: isolate;
        &:before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 100%;
            display: block;
            border: 3px dashed rgba(247, 235, 255, 0.5);
            transform: translateX(-50%);
        }
        li {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 30px;
            .walkedInner__img {
                width: 45%;
                aspect-ratio: 16/9;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .walkedInner__content {
                width: 45%;
                padding: 20px;
            }
            .walkedInner__contentCitation {
                font-family: $font-stack;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                /* identical to box height */
                text-align: right;
                color: $third-color;
                margin-top: 12px;
            }
            .walkedInner__km {
                width: 10%;
                text-align: center;
                background-color: black;
                padding: 10px;
            }
            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .walkedInner {
        height: 80vh;
        overflow-y: scroll;
        padding-bottom: 70px;
        ul {
            width: 100%;
            margin-top: 0;
            &:before {
                left: 0;
            }
            li {
                flex-direction: column;
                position: relative;
                .walkedInner__img {
                    width: 90%;
                    height: 140px;
                    position: relative;
                    border-radius: 11px;
                    isolation: isolate;
                    &:before {
                        content: "";
                        z-index: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: linear-gradient(264.81deg, rgba(0, 0, 0, 0.25) 1.33%, rgba(39, 38, 41, 0.8) 97.65%);
                        border-radius: 11px;
                    }
                    img {
                        border-radius: 11px;
                        object-fit: cover;
                    }
                    .walkedInner__km {
                        position: absolute;
                        bottom: 0;
                        font-family: $font-stack;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 130px;
                        line-height: 157px;
                        color: $fourth-color;
                        opacity: 0.4;
                        padding: 0;
                        width: unset;
                        background-color: unset;
                        line-height: 97px;
                    }
                    .walkedInner__kmWhite {
                        font-family: $font-stack;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 16px;
                        color: $third-color;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                .walkedInner__content {
                    width: 100%;
                    font-family: $font-stack;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 18px;
                    color: $third-color;
                }

                &:nth-child(2n) {
                    flex-direction: column;
                }
            }
        }
    }
}
