@import "./variables.scss";
.home, .homeForm {
  overflow: hidden;
  isolation: isolate;
  display: flex;
  justify-content: flex-end;
  margin: 70px 0;
  padding: 0 30px;
  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: rgba(1, 1, 1, 0.5);
  }
  h1 {
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 45px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1.2); /* Adjust scale as needed */
    object-fit: cover; /* Ensures the video fills the container */
  }
  .formInner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        input {
          width: 100%;
          border-radius: 11px;
          background-color: $third-color;
          padding: 10px 15px;
          color: black;
          border: 1px solid black;
          margin-bottom: 15px;
        }
        button {
          padding: 15px 20px;
          border-radius: 11px;

          border: none;
          cursor: pointer;

          background: #f7ebff;
          border-radius: 10px;
          
          font-family: $font-stack;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #545356;
        }
      }
    }
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.homeForm{
  height: 100vh;
  align-items: center;
  margin: 0;
}
.heading {
  width: 100%;
  .header_p {
    color: white;
  }
  h1 {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

    color: $third-color;
  }
}
.logged {
  background-color: white;
  border-radius: 20px;
  margin: 2vh;
  height: 96vh;
  width: 35%;
  padding: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .welcome {
    margin: 15px 0;
  }
  button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
}

.btnStroke {
  background-color: transparent;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  margin-bottom: 15px;
}
.feed {
  border-top: 1px solid $primary-color;
  padding: 20px 0;
  .feedHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding-bottom: 15px;

    .feedHeadingName {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border: 1px solid white;
      border-radius: 50px;
    }
    .name {
      font-family: $font-stack;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: $third-color;
    }
    hr {
      background-color: white;
      border-color: white;
    }
    .date {
      font-family: $font-stack;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;

      color: $third-color;
    }
  }
  .feedActivity {
    display: flex;
    gap: 64px;
    .feedActivityDistance {
      p {
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $third-color;
        &.feedActivityBold {
          font-weight: 600;
        }
      }
    }
  }
  .feedInner {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 11px;
    margin-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(1, 1, 1, 0.5);
    }

    .feedInner__Percentage {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color: rgba(0, 200, 160, 0.5);
      border-radius: 11px;
    }
    p {
      color: $third-color;
      font-family: $font-stack;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      z-index: 1;
    }
  }
  .feedInner__next {
    p {
      text-align: right;
      color: $third-color;
      font-family: $font-stack;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      margin-top: 4px;
      line-height: 18px;
      z-index: 1;
    }
  }
}
@media screen and (max-width: 768px) {
  .logged {
    width: 95%;
  }
  .home {
    h1 {
      font-size: 35px;
    }
    
  }
}
