@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$primary-color: #272629;
$secondary-color: #545356;
$third-color: #f7ebff;
$fourth-color: #00c8a0;
$font-stack: "Inter", serif;