@import "../variables.scss";
.profile {
    width: 100%;
    display: flex;
    padding: 30px;
    .profileContent {
        width: 80vw;
        padding: 40px;
        button {
            background-color: unset;
            border: none;
            width: 260px;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .profile {
        margin-top: 0;
        margin-bottom: 70px;
        .profileContent {
            padding: 0;
        }
        nav {
            position: fixed;
            display: flex;
            align-items: center;
            left: 0;
            bottom: 11vh;
            z-index: 10;
            height: unset;
            top: unset;

            overflow-x: scroll;
            ul {
                display: flex;
                width: auto;
                li {
                    width: 150px;
                    height: 55px;
                    background: $fourth-color;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    gap: 10px;
                    justify-content: center;
                    font-family: $font-stack;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: $third-color;
                    margin-right: 30px;
                    &.active {
                        border: 2px solid $third-color;
                    }
                }
            }
        }
        .profileContent {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}
